<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR File Decrypter</title>
</head>
<body>
    <style>
        .form {
            width: 50%;
            margin: auto;
        }
    </style>
    <form method="post" action="/qr/" class="form">
        <fieldset>
            <legend>Authentication</legend>
            <label for="password">Enter file password: </label>
            <input type="password" name="password" />
            <input type = "hidden" name = "fileId" value = "<%= fileId %>" />
            <input class="button" type="submit" value="submit" />
        </fieldset>
    </form>
</body>
</html>